body{
    background-color: black;
    overflow: hidden;
}

.content{
    margin: 0px 50px;
}

h1{
    font-family: "Montserrat SemiBold";
    color: white;
    margin: 10px 10px;
    font-size: 40px;
}

p{
    font-family: "Montserrat";
    color: white;
    margin: -1px;
}

.title{
    margin: 0px 30px;
}


.button input{
    color: white;
    font-family: "Montserrat SemiBold";
    list-style: none;
    letter-spacing: 1px;
    font-size: 25px;
    cursor: pointer;


    background-color: rgba(255, 255, 255, 0.062); 
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition: all .2s ease-in-out;

    position: absolute;
    z-index: 1;
    margin-top: 15px;
    margin-left: -260px;
    
}

.button input:hover { transform: scale(1.1); }

.all{
    position: absolute;
    z-index: 1;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    width: 450px;
    height: 100%;
    margin-top: 170px;
    margin-left: 700px;
   
}


.button a{
    color: white;
    font-family: "Montserrat SemiBold";
    letter-spacing: 1px;
    font-size: 25px;
    cursor: pointer;


    background-color: rgba(255, 255, 255, 0.062); 
    border: none;
    color: white;
    padding: 15px 100px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition: all .2s ease-in-out;

    position: absolute;
    z-index: 1;
    margin-top: 15px;
    margin-left: 30px;
}

.button a:hover { transform: scale(1.1); }


.buttons a{
    color: white;
    font-family: "Montserrat SemiBold";
    letter-spacing: 1px;
    font-size: 25px;
    cursor: pointer;


    background-color: rgba(255, 255, 255, 0.062); 
    border: none;
    color: white;
    padding: 15px 100px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition: all .2s ease-in-out;

    position: absolute;
    z-index: 1;
    margin-top: 600px;
    margin-left: 800px;
}

.buttons a:hover { transform: scale(1.1); }

.banner{
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video{
    position: absolute;
    top: 0px;
    left: -190px;
    
    
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}